<a href="https://colab.research.google.com/github/Abbud123/skills-introduction-to-github/blob/main/Lab1%262.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(" Welcome to Data Science & AI Lab!")
print("Let's start with Python basics.")

 Welcome to Data Science & AI Lab!
Let's start with Python basics.

In [2]:
name = input("Enter your name: ")
roll_no = input("Enter your roll number: ")
language = input("Enter your favorite programming language: ")

print(f"\ Student Info:\nName: {name}\nRoll No: {roll_no}\nFavorite Language: {language}")

Enter your name: Abdullah Fakhar
Enter your roll number: BCS231105
Enter your favorite programming language: Python and C++
\ Student Info:
Name: Abdullah Fakhar
Roll No: BCS231105
Favorite Language: Python and C++

In [5]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print(f"\n Results:")
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} * {num2} = {num1 * num2}")
print(f"{num1} / {num2} = {num1 / num2 if num2 != 0 else 'Cannot divide by zero'}")
print(f"{num1} % {num2} = {num1 % num2}")
print(f"{num1} ** {num2} = {num1 ** num2}")

Enter first number: 5
Enter second number: 4

 Results:
5.0 + 4.0 = 9.0
5.0 - 4.0 = 1.0
5.0 * 4.0 = 20.0
5.0 / 4.0 = 1.25
5.0 % 4.0 = 1.0
5.0 ** 4.0 = 625.0

In [6]:
age = int(input("Enter your age: "))

if age >= 18:
    print(" You are eligible to vote!")
elif age > 0:
    print(" You are not eligible to vote yet.")
else:
    print(" Invalid age entered.")

Enter your age: 21
 You are eligible to vote!

In [10]:
marks = int(input("Enter your percentage: "))

if marks >= 90:
    grade = 'A+'
elif marks >= 80:
    grade = 'A'
elif marks >= 70:
    grade = 'B'
elif marks >= 60:
    grade = 'C'
else:
    grade = 'Fail'

print(f" Your Grade is: {grade}")

Enter your percentage: 99
 Your Grade is: A+

In [11]:
num = int(input("Enter a number for its multiplication table: "))

print(f"\nMultiplication Table of {num}")

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number for its multiplication table: 10

Multiplication Table of 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [13]:
start = int(input("Enter starting value: "))
end = int(input("Enter ending value: "))

print(f"\n Even Numbers between {start} and {end}:")
for i in range(start, end+1):
    if i % 2 == 0:
        print(i, end=' ')

Enter starting value: 1
Enter ending value: 25

 Even Numbers between 1 and 25:
2 4 6 8 10 12 14 16 18 20 22 24

In [14]:
correct_password = "dsai123"
attempts = 0

while attempts < 3:
    password = input("Enter password: ")
    if password == correct_password:
        print(" Access Granted!")
        break
    else:
        print(" Wrong password.")
        attempts += 1

if attempts == 3:
    print(" Too many failed attempts. Access Denied.")

Enter password: Abbud123
 Wrong password.
Enter password: dsai123
 Access Granted!

In [15]:
fruits = ["apple", "banana", "mango"]
fruits.append("grape")
print("Fruits:", fruits)

student = {"name": "Sara", "roll_no": 101, "marks": 87}
student["grade"] = "A"
print("Student Info:", student)

Fruits: ['apple', 'banana', 'mango', 'grape']
Student Info: {'name': 'Sara', 'roll_no': 101, 'marks': 87, 'grade': 'A'}

In [ ]:
test_numbers = [2, 3, 4, 5, 17]

for number in test_numbers:
    if is_prime(number):
        print(f"{number} is a prime number.")
    else:
        print(f"{number} is not a prime number.")

In [16]:
def calculate_average(marks):
    return sum(marks) / len(marks)

student_marks = [88, 76, 92]
avg = calculate_average(student_marks)
print("Average Marks:", avg)

Average Marks: 85.33333333333333

In [20]:
with open("student_data.txt", "w") as file:
    file.write("Name: Abdullah")
    file.write("Marks: 92")

with open("student_data.txt", "r") as file:
    data = file.read()
    print("File Content:\n", data)

File Content:
 Name: AbdullahMarks: 92

In [21]:
def find_maximum(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

max_num = find_maximum(num1, num2, num3)
print(f"The maximum number is: {max_num}")

Enter the first number: 5
Enter the second number: 10
Enter the third number: 3
The maximum number is: 10.0

In [22]:
cities = ["Karachi", "Gujranwala", "Lahore", "Hyderabad", "Peshawar"]

cities.append("Pindi")

cities.remove("Hyderabad")

print("Final list of cities:", cities)

Final list of cities: ['Karachi', 'Gujranwala', 'Lahore', 'Peshawar', 'Pindi']

In [32]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

test_numbers = [2, 3, 4, 5, 17]

for number in test_numbers:
    if is_prime(number):
        print(f"{number} is a prime number.")
    else:
        print(f"{number} is not a prime number.")

2 is a prime number.
3 is a prime number.
4 is not a prime number.
5 is a prime number.
17 is a prime number.

In [33]:
import csv

# Create a CSV file with student records
student_records = [
    ["Name", "Roll Number", "Marks"],
    ["Abdullah", "001", "85"],
    ["Talha", "002", "90"],
    ["Ahmed", "003", "78"]
]

with open("student_records.csv", "w", newline='') as file:
    writer = csv.writer(file)
    writer.writerows(student_records)

# Read and display the CSV file
print("Student Records:")
with open("student_records.csv", "r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

Student Records:
['Name', 'Roll Number', 'Marks']
['Abdullah', '001', '85']
['Talha', '002', '90']
['Ahmed', '003', '78']